<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.github.evra.jcr.connector.ui.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.github.evra.jcr.connector.ui.importWizards.cndCategory"
            name="CND Editor">
      </category>
      <wizard
            category="com.github.evra.jcr.connector.ui.importWizards.cndCategory"
            class="com.github.evra.jcr.connector.ui.importWizards.ImportWizard"
            icon="icons/16_structure.png"
            id="com.github.evra.jcr.connector.ui.importWizards.ImportWizard"
            name="Import CND From Repository">
         <description>
            Import compact node definition from JCR2 repository.
         </description>
      </wizard>
   </extension>

</plugin>
